/*html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    background-color: #221F53;

    

}
.background{
    background-color: #221F53;
}
/*Header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px; 
    background-color: #0F142C;
    z-index: 100; 
}

.logo img {
    width: 100px; 
    height: auto; 
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
    
}
header ul a{
    color: #fff;
}
header ul a:hover {
    color: #1DA1F2;
}


/*Video*/
.video-container {
    margin-top: 150px; 
    width: 100%;
    height: calc(100vh - 100px); 
    overflow: hidden;
    position: relative;
}

.video_background {
    width: 100%;
    margin-top: 50px;
    height: 100%;
    
}
/*section*/
section{
    
}
/*section projetos*/
.projetos h2 {
    text-align: center;
    font-size: 50px; 
    margin-top: 150px; 
    color: #fff;
}
.projetos .images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.projetos .images img {
    max-width: 200px; 
    height: auto; 
    margin: 10px; 
    margin: 0 25px; 
    border-radius: 30px;
}
/*section licenciatura*/
.licenciatura h1{
    text-align: center;
    font-size: 50px; 
    margin-top: 150px; 
    color: #fff;
}

.licenciatura .flex{
    display: flex;
    justify-content: space-between;
}

.licenciatura p{
    margin-left: 150px;
    font-size: 35px; 
    margin-top: 50px;
    color: #fff; 
}

.licenciatura button{
    background: green;
    border-radius: 30px;
    font-size: 25px;
    margin-top: 150px;
    margin-right: 500px;
}

/*section escaperoom*/
.escaperoom{

}
.escaperoom h3{
    text-align: center;
    font-size: 50px; 
    margin-top: 150px; 
    color: #fff;

}

.escaperoom .flex{
    display: flex;
    justify-content: space-between;

    
}

.escaperoom .grid{
    display: grid;
    margin-right: 200px;
}

.escaperoom img {

    max-width: 200px; 
    height: 250px; 
    margin: 10px; 
    margin: 0 25px; 
    border-radius: 30px;
    margin-left: 600px;
    margin-top: 50px;
    

}
 
.escaperoom p{
    
    margin-top: 70px;
    font-size: 20px;
    color: #fff;
    margin-right: 400px;

}

.escaperoom h4{
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 400px;
}

.escaperoom button{
    background: green;
    border-radius: 30px;
    font-size: 25px;
    margin-top: 50px;
    margin-right: 250px;

}
/* sobre tsiw css*/



.Titulo{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}



.foco_licenciatura h1{
    text-align:left;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 30px;
}

.foco_licenciatura p{
    font-size: 25px;
    text-align: left;
    margin-left: 35px;
}

.foco_licenciatura img{
    align-items: end;

}









/* footer*/

footer {
    background-color: #0F142C;
    padding: 10px;
    color: #fff;
    font-size: 14px; 
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.imagens {
    display: flex;
    gap: 30px; 
    margin-left: 100px ; 
}

.imagens img {
    height: 30px; 
}

.texto {
    
        
    font-size: 12px; 
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 00px;
    
}

.icons {
    display: flex;
    gap: 15px;
    margin-right: 150px;
    
}

.icons a {
    color: #fff;
    font-size: 18px; 
    transition: color 0.3s ease;
}

.icons a:hover {
    color: #1DA1F2;
}
